<!DOCTYPE html>
<html lang="en" style="height:100%">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="manifest" href="<%= BASE_URL %>manifest.json">
    <meta name="theme-color" content="#1cb487"/>
    <link rel="apple-touch-icon" sizes="192x192" href="/img/icons/apple-touch-icon.png">
    <title>happyDNS</title>
    <style>
      @keyframes delayanim {
          0% { background-image: linear-gradient(90deg, #1cb487 -10%, black 10%); }
          4% { background-image: linear-gradient(90deg, #1cb487 -5%, black 15%); }
          8% { background-image: linear-gradient(90deg, #1cb487 0%, black 20%); }
          12% { background-image: linear-gradient(90deg, black -5%, #1cb487 5%, black 25%); }
          16% { background-image: linear-gradient(90deg, black -10%, #1cb487 10%, black 30%); }
          20% { background-image: linear-gradient(90deg, black 5%, #1cb487 15%, black 35%); }
          24% { background-image: linear-gradient(90deg, black 0%, #1cb487 20%, black 40%); }
          24% { background-image: linear-gradient(90deg, black 5%, #1cb487 25%, black 45%); }
          32% { background-image: linear-gradient(90deg, black 10%, #1cb487 30%, black 50%); }
          32% { background-image: linear-gradient(90deg, black 15%, #1cb487 35%, black 55%); }
          40% { background-image: linear-gradient(90deg, black 20%, #1cb487 40%, black 60%); }
          44% { background-image: linear-gradient(90deg, black 25%, #1cb487 45%, black 65%); }
          48% { background-image: linear-gradient(90deg, black 30%, #1cb487 50%, black 70%); }
          52% { background-image: linear-gradient(90deg, black 35%, #1cb487 55%, black 75%); }
          56% { background-image: linear-gradient(90deg, black 40%, #1cb487 60%, black 80%); }
          60% { background-image: linear-gradient(90deg, black 45%, #1cb487 65%, black 85%); }
          64% { background-image: linear-gradient(90deg, black 50%, #1cb487 70%, black 90%); }
          68% { background-image: linear-gradient(90deg, black 55%, #1cb487 75%, black 95%); }
          72% { background-image: linear-gradient(90deg, black 60%, #1cb487 80%, black 100%); }
          76% { background-image: linear-gradient(90deg, black 65%, #1cb487 85%, black 105%); }
          80% { background-image: linear-gradient(90deg, black 70%, #1cb487 90%, black 110%); }
          84% { background-image: linear-gradient(90deg, black 75%, #1cb487 95%, black 115%); }
          88% { background-image: linear-gradient(90deg, black 80%, #1cb487 100%, black 120%); }
          92% { background-image: linear-gradient(90deg, black 85%, #1cb487 105%, black 125%); }
          96% { background-image: linear-gradient(90deg, black 90%, #1cb487 110%); }
          100% { background-image: linear-gradient(90deg, #1cb487 -15%, black 5%, black 95%, #1cb487 115%); }
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="bg-dark" style="font-family: sans; font-size: 2rem; text-align: center; margin: 30vh auto">
        <span style="background-color: white; border-radius: .5rem; padding: 1rem 1.5rem">
          <span style="background-clip: text; -webkit-background-clip: text; color: transparent;background-image: linear-gradient(45deg, black);animation: delayanim 2s linear infinite;">
            Please wait, <span style="font-weight: lighter">happy</span><span style="font-weight: bolder">DNS</span> is loading&hellip;</span>
        </span>
      </div>
      <noscript>
        <strong>We're sorry but happyDNS doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
      </noscript>
    </div>
  </body>
</html>
